<div class="button is-light">
  <form method='post' action='/auth/google_oauth2'>
    <input type="hidden" name="authenticity_token" value="<%= csrf_token %>">
    <button type='submit'>Login with Google</button>
  </form>
</div>
